*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: radial-gradient(
        circle,
        rgb(26, 100, 47) 35%,
        rgb(25, 70, 4) 77%
        )
        no-repeat; 
    color: white; 
    display: flex;
    justify-content: center;
    align-items: space-between;
    text-align: center;
    font-size: 1.32rem;
}

h1 {
    color: rgb(219, 193, 193);
}


a:link, a:visited, a:hover, a:active  {
    color: rgb(63, 62, 62);
    text-decoration: none;
    padding: 4px;
}