*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: #585858;
}

.wrapper {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    color:white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.container{
    margin-top: 30px;
    height: 60%;
    width: 100%;
    border: 1px solid black;
    background: rgb(63, 251, 94);
    background: radial-gradient(
    circle,
    rgb(39, 148, 93) 0%,
    rgb(20, 105, 20) 100%
    ); 
    
}

.scoreboard{
    height: 80%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 8px;
}

.yourbox{
    flex: 1;
    border: 1px solid black;
    margin: 0;
    text-align: center;
    overflow: auto;
}

.dealerbox{
    border: 1px solid black;
    flex: 1;
    margin: 0%;
    text-align: center;
    overflow: auto;
}

.buttonsection{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 18%;
    margin: 0;
    align-items: center;
}

.buttoncover{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}


.innercover{
    padding:8px ;
}

button{
    padding: 8px 20px;
    color: black;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    margin: 0 4px;
}

.hit{
    background-color: rgb(28, 198, 228);
}

.stand{
    background-color: #c1ca3f;
}

.deal{
    background-color: rgb(233, 89, 89);
}

.head{
    margin: 16px;
}

h2{
    margin: 16px;
    font-size: 1.8rem;
}



.tablecover{
    border: 2px solid white;
    margin-top: 2rem;
    width: 70vw;
    border-collapse: collapse;
}

td, th{
    border: 2px solid white;
    text-align: center;
    padding:1rem ;
}

img {
    width: 3rem;
    margin: 1rem;
}

.help {
    background-color: rgb(228, 228, 214);
    color: black;
    position: absolute;
    right: 15px;
    top: 15px;
}